<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask sockets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="styles.css")}}">
</head>

<body>
    <h1>Ajeeb Chat room</h1>

    <div class="profile"></div>
    <input type="text" name="msg" id="msg-txtbox">
    <button id="msg-btn">Send</button>
    <button id="ping-btn">Ping Everyone</button>
    <div id="messages" style="height: 300px;"></div>
    <div>
        <h2 class="avatar-heading">Online Users</h2>
        <div id="online-users" class="avatar-parent"></div>
    </div>

</body>

<script src="http://chancejs.com/chance.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename="script.js")}}"></script>

</html>
